/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

@import url("https://fonts.googleapis.com/css2?family=Joti+One&display=swap");

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

html {
  font-family: "Joti One", serif;
}

body {
  background: url(../svg/Union.svg);
  background-color: #e99c2b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  width: 100%;
  height: 100vh;
  place-content: center;
}

.layout {
  width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1.5fr);
  gap: 20px;

  .titulo {
    color: #e99c2b;
    text-align: center;
    h1,
    h2 {
      font-size: 68px;
    }

    h4 {
      font-size: 22px;
      color: #bababa;
      font-style: italic;
    }

    a {
      text-decoration: none;
      color: #000000;
      font-size: 20px;
      text-align: center;
      border: 3px solid transparent;
      background-color: #f8b6b6;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
/* ---------------------------------------- */
#calendario {
  background: url(../svg/Bordes.svg) center,
    linear-gradient(180deg, #8a181a 0%, #540404 100%);
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;

  & .calendario {
    width: 1200px;
    height: 768px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }

  /* Apartado de las figuras  */
  & figure {
    display: grid;
    place-items: center;
    place-content: center;
    width: 100%;
    height: 100%;
    background: #e99c2b;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;

    & img {
      width: 60%;
    }

    & figcaption {
      & h2 {
        font-size: 34px;
      }
      & h3 {
        font-size: 16px;
      }
      & p {
        font-size: 12px;
      }
    }

    &:hover {
      transform: scale(1.01);
      cursor: pointer;
    }
  }
}

#figura {
  background: url(../svg/Bordes.svg) center,
    linear-gradient(180deg, #8a181a 0%, #540404 100%);
}
